* {
  max-width: 100%;
  box-sizing: border-box;
}

div,
ul,
li {
  border: 1px #000 solid;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#catarea {
  width: 640px;
  float: left;
}

#listarea {
  width: 20%;
  max-width: 150px;
  float: right;
  padding: 0;

  li {
    list-style-type: none;
    text-align: center;
    padding: 5px 0;
  }
}

.admin-console {
  clear: both;

  .toggle-admin {
    height: 40px;
    width: 100px;
    text-align: center;
    float: left;
  }
  form {
    width: 600px;
    float: left;
    display: none;
    input {
      width: 474px;
    }
  }
  &,
  * {
    border: none;
  }
}