* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.game {
  position: relative;
  overflow: hidden;
  margin: 100px auto 0;
  height: 500px;
  width: 800px;
  border: 1px solid #000000;
}

.player {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 25px;
  background-color: #00ff00;
}

.enemy {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #0000ff;
}

.enemy.hit {
  background-color: #ff0000;
  border: 2px solid #000000;
}

.pellet {
  position: absolute;
  z-index: 100;
  background-color: #ff0000;
}

.controls {
  margin: 0 auto;
  width: 800px;
}

.controls button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 8px;
}