* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.status {
  margin-bottom: 10px;
}

.big-square {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
}

.light .square{
  background-color: #bbffbb;
}

.dark .square{
  background-color: #bbbbff;
}

.square {
  flex: 1 1 auto;
  width: 0;
  margin: -1px -1px 0 0;
  padding: 0;
  border: 1px solid #999;
  line-height: 34px;
  font-size: 3.1em;
  font-weight: bold;
  text-align: center;
}

.square-row {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

input.square {
  outline: #0000ff solid 4px;
  outline-offset: -4px;
}

.unlocked {
  color: red;
  font-family: cursive, sans-serif;
}

.square:focus {
  /*outline: none;*/
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.controls button {
  margin: 0 0 0 10px;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 8px;
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
}

.game-info {
  margin-left: 100px;
  max-width: 50%;
}
